.title, .goldenboot{
    text-align: center;
  }
  
  .proxy-api {
    width: 50%;
    margin: 0 auto;
  }
  
  .loading {
    text-align: center;
  }
  
  .mews {
    width: 20%;
    margin: 0 auto;
  }
  